body {
	padding-top: 50px;
}

h1 {
	text-align: center;
	margin: 50px 0 40px;
}

h2 {
	margin: 40px 0 30px;
}

.not-too-big {
	max-width: 700px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.info {
	font-style: italic;
	color: #888;
}

.red {
	color: #dd0000;
}

.green {
	color: #007700;
}

td {
	padding-right: 5px;
}

table.fields {
	clear: both;
	width: 100%;
}

table.fields > thead > tr > th,
table.fields > tbody > tr > td,
table.fields > tfoot > tr > td {
	padding: 6px 8px;
	line-height: 1.428571429;
	vertical-align: top;
	border-top: 1px solid #ddd;
	background: white;
}

table.fields > thead:first-child > tr:first-child > th,
table.fields > tbody:first-child > tr:first-child > td {
	border-top: 0;
}

table.fields.table-bordered > thead:first-child > tr:first-child > th {
	border-top: 1px solid #ddd;
}

table.fields > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}

table.fields > thead > tr > th:first-child,
table.fields > tbody > tr > th:first-child,
table.fields > tfoot > tr > th:first-child,
table.fields > thead > tr > td:first-child,
table.fields > tbody > tr > td:first-child,
table.fields > tfoot > tr > td:first-child {
	background-color: #ececfd;
	border-right: 2px solid #4d7496;
	border-top: 1px solid #ccc;
	width: 25%;
}

table.fields > thead > tr > th:first-child {
	vertical-align: bottom;
	border-bottom: 2px solid #ccc;
}

table.fields.table-bordered > tbody > tr > td:first-child {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

table.fields.table-bordered > thead:first-child > tr:first-child > th:first-child,
table.fields.table-bordered > tbody:first-child > tr:first-child > td:first-child {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

table.fields > tbody > tr:hover > td {
	background-color: #ddddee !important;
}

ul.links, ul.list {
	padding-left: 0;
}

ul.links li, ul.list li {
	list-style: none;
	padding: 4px 0;
}

.main-panel {
	margin: 50px auto 15px;
}

.login-panel {
	max-width: 400px;
	margin: 50px auto 15px;
}

.panel-heading h1 {
	margin: 10px 0;
}

.red-box {
	border: 2px red solid;
	background-color: rgba(255, 61, 76, 0.5);
	padding: 15px;

}

.green-box {
	border: 2px green solid;
	background-color: rgba(70, 255, 76, 0.5);
	padding: 15px;
}

.blog-post img {
	max-width: 100%;
}

.blog-post .tools {
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 15px;
}
.blog-post .tools ul {
  display: flex;
  padding: 0;
  margin: 15px 0;
}
.blog-post .tools ul li {
  list-style: none;
  margin-right: 15px;
}

a.blog-snippet {
  text-decoration: none;
  border-bottom: 5px solid transparent;
}
a.blog-snippet:hover {
  border-bottom: 5px solid #2d2d2d;
}

.blog-snippet {
  display: block;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.blog-snippet img {
  display: block;
}
.blog-snippet div.snippet-image {
  height: 160px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.blog-snippet h3, .blog-snippet .selected-treatments h2, .selected-treatments .blog-snippet h2 {
  font-size: 18px;
  line-height: 24px;
  text-transform: none;
  font-weight: 700;
}
@media (min-width: 576px) {
  .blog-snippet h3, .blog-snippet .selected-treatments h2, .selected-treatments .blog-snippet h2 {
    min-height: 50px;
  }
}
.blog-snippet h3 a, .blog-snippet .selected-treatments h2 a, .selected-treatments .blog-snippet h2 a {
  text-decoration: none;
}
.blog-snippet .date {
  color: #989898;
  font-size: 13px;
  font-weight: normal;
  text-transform: none;
  font-family: "Open Sans", sans-serif;
  margin: 0;
}
.blog-snippet .description {
  font-size: 14px;
  margin: 5px 0;
  color: #696969;
}
.blog-snippet .read-more {
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  text-decoration: none;
}

.blog-snippet-desktop {
  display: none;
  width: 300px;
}
@media screen and (min-width: 500px) {
  .blog-snippet-desktop {
    display: block;
  }
}
.blog-snippet-desktop h3, .blog-snippet-desktop .selected-treatments h2, .selected-treatments .blog-snippet-desktop h2 {
  margin: 20px 0 4px;
}

.blog-snippet-mobile {
  border-bottom: 1px solid #e9e9e9;
}
@media screen and (min-width: 500px) {
  .blog-snippet-mobile {
    display: none;
  }
}
.blog-snippet-mobile .date, .blog-snippet-mobile h3, .blog-snippet-mobile .selected-treatments h2, .selected-treatments .blog-snippet-mobile h2, .blog-snippet-mobile .description {
  margin: 16px 0;
}

.blog-snippet-list h2 {
  text-align: center;
  font-size: 22px;
  margin: 0 0 20px;
  flex: 1 0 100%;
}
@media screen and (min-width: 500px) {
  .blog-snippet-list h2 {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
@media screen and (min-width: 500px) {
  .blog-snippet-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
  }
  .blog-snippet-list .blog-snippet {
    flex: 0 0 300px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
.blog-snippet-list .blog-snippet-3 {
  display: none;
}
@media (min-width: 992px) {
  .blog-snippet-list .blog-snippet-3.blog-snippet-desktop {
    display: block;
  }
}
.blog-snippet-list .blog-snippet-4 {
  display: none;
}
@media (min-width: 1200px) {
  .blog-snippet-list .blog-snippet-4.blog-snippet-desktop {
    display: block;
  }
}

/* Bootstrap 4 Stuff *********************************************************/

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.8);
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: rgba(255,255,255,1);
}
