{% extends 'base.html' %}

{% block title %}EasyCMS Test App{% endblock %}

{% block h1 %}{% endblock %}

{% block content %}
	<h1>{{ self.title() }}</h1>
	
	{% if homepage.content %}
		<hr>
			<p>
				Page written {% if homepage.author %}by <strong>{{ homepage.author.name }}</strong>{% endif %} on
				{{ homepage.created | format_datetime }}.
			</p>
			<p>
				Page published by <strong>{{ homepage.published_by.name }}</strong> on
				{{ homepage.published | format_datetime }}.
			</p>
		<hr>	

		{{ homepage.content | safe }}

		<hr>
	{% endif %}
	
	<h2>Blog</h2>

	<div class="blog-post-list">
		{% for post in pager.items %}
			<div class="blog-post">
				<a href="{{ url_for('main.view_blog_post', post_code=post.code) }}">
					<div class="mobile-main-image" style="background-image: url({{ post.main_image_url }});"></div>
					<img class="desktop-main-image" src="{{ post.main_image_url }}">
				</a>

				<h3 class="date">{{ post.published | format_date_long }}</h3>

				<h2>
					<a href="{{ url_for('main.view_blog_post', post_code=post.code) }}">
						{{ post.title }}
					</a>
				</h2>

				<p>{{ post.description }}</p>

				{% if post.has_visible_comments() %}
					<p><em>({{ post.num_visible_comments() }} comments)</em></p>
				{% endif %}

				<p>
					<a class="read-more" href="{{ url_for('main.view_blog_post', post_code=post.code) }}">
						Read More
					</a>
				</p>
			</div>

			<hr>
			<br><br>
		{% endfor %}
		
		{{ macros.pager(pager) }}
	</div>
{% endblock %}

