{% extends 'base.html' %}

{% block title %}{{ post.get_html_title() }}{% endblock title %}

{% block description %}{{ post.get_html_description() }}{% endblock description %}

{% block head_extra %}
	<script>
		function showReplyForm(commentId, author) {
			$("#leave-a-comment").hide();
			$("#reply-to-comment").show();
			$("#comment-author").text(author);
			$("#reply-to").val(commentId);
			$("#add-comment")[0].scrollIntoView();
		}

		$(document).ready(function(){
			{% if reply_to_id %}
				showReplyForm({{ reply_to_id }}, "{{ reply_to_author_name }}");
			{% endif %}

			$(".reply-button").click(function(){
				showReplyForm($(this).data('comment-id'), $(this).data('author'));

				return false;
			});
			$(".cancel-reply").click(function(){
				$("#reply-to-comment").hide();
				$("#leave-a-comment").show();
				$("#reply-to").val('');

				return false;
		    });
		});
	</script>
{% endblock head_extra %}

{% block outer_banner %}
{% endblock outer_banner %}

{% block flashed_alerts %}
{% endblock flashed_alerts %}


{% macro draw_comment(comment) %}
	{% if comment.visible() %}
		<div class="comment {% if comment.deleted %}deleted{% elif not comment.approved %}pending{% endif %} {% if comment.reply_to %}comment-reply{% endif %}">
			<div class="author">
				{% if comment.author %}
					<strong>{{ comment.author.name }}</strong>
				{% else %}
					<strong>{{ comment.author_name }}</strong>
				{% endif %}
				on {{ comment.timestamp | format_datetime_long }}
				{% if comment.deleted %}(deleted){% elif not comment.approved %}(pending){% endif %}
			</div>
			<div class="comment-content clearfix">
				<div class="info">
					{% if comment.reply_to %}
						{% if comment.reply_to.author %}
							Reply to {{ comment.reply_to.author.name }}
						{% else %}
							Reply to {{ comment.reply_to.author_name }}
						{% endif %}
					{% endif %}
				</div>
				{{ comment.content | safe }}
				{% if comment.original_content %}
					<p class="info">Post edited by {{ comment.editor.name }} on {{ comment.edit_timestamp | format_date }}</p>
				{% endif %}
				
				{% if can_manage_comments %}
					<a href="{{ comment.edit_url }}" class="btn btn-secondary btn-xs edit-button">
						Edit
					</a>
				{% endif %}

				{% if comment.approved and not comment.deleted%}
					<a href="{{ url_for('main.view_blog_post', post_code=post.code, reply_to=comment.id) }}" class="btn btn-secondary btn-xs reply-button"
					        data-author="{{ comment.author.name if comment.author else comment.author_name }}"
							data-comment-id="{{ comment.id }}">
						Reply
					</a>
				{% endif %}
			</div>
		</div>
	{% endif %}

	{% for reply in comment.replies %}
		{{ draw_comment(reply) }}
	{% endfor %}
{% endmacro %}


{% block content %}
	<div class="blog-post">
		<a href="{{ url_for('main.view_blog_post', post_code=post.code) }}">
			<div class="mobile-main-image" style="background-image: url({{ post.main_image_url }});"></div>
			<img class="desktop-main-image" src="{{ post.main_image_url }}">
		</a>

		<h3 class="date">{{ post.published | format_date_long }}</h3>
		
		<h1>{{ post.title }}</h1>
		<h2 class="subtitle">by <em>{{ post.author.name }}</em></h2>

		{% if show_tools %}
			<div class="tools">
				<ul>
					{% if can_edit %}
						<li>
							<a href="{{ post.editor_url }}">Edit Post</a>
						</li>
					{% endif %}
					{% if can_edit_seo %}
						<li>
							<a href="{{ post.seo_editor_url }}">Edit SEO Settings</a>
						</li>
					{% endif %}
				</ul>
			</div>
		{% endif %}

		{{ post.content | safe }}

		{% if post.has_visible_comments() %}
			<div class="comments" id="comments-{{ post.id }}">
				<h4>Comments</h4>
				{% for comment in post.comments %}
					{% if not comment.reply_to %}
						{{ draw_comment(comment) }}
					{% endif %}
				{% endfor %}
			</div>
		{% endif %}

		<hr>

		<div id="add-comment">
			<h3 id="leave-a-comment">Leave a Comment</h3>
			<div class="space-after" id="reply-to-comment" style="display: none;">
				<h3>Reply to Comment by <span id="comment-author"></span></h3>
				<a class="btn btn-xs btn-secondary cancel-reply" href="javascript: void(0);">Cancel Reply</a>
			</div>
			<div class="flashed-alerts">
				{% with messages = get_flashed_messages(with_categories=true) %}
					{% if messages %}
					<br><br>
					{% endif %}
					{% for category, message in messages %}
						<div class="alert alert-{{ category }}">
							{{ message }}
						</div>
					{% endfor %}
				{% endwith %}
			</div>

			{{ comments_form.render() }}
		</div>
	</div>
	
	<div class="blog-snippet-list">
		<h2>Related Posts</h2>

		{% for related_post in related_posts %}
			<a href="{{ url_for('main.view_blog_post', post_code=related_post.code) }}" class="blog-snippet blog-snippet-desktop blog-snippet-{{ loop.index }}">
				<img src="{{ related_post.get_snippet_image() }}">
				<h3>{{ related_post.get_snippet_title() }}</h3>
				<h4 class="date">{{ related_post.published | format_date_long }}</h4>
				<p class="description">
					{{ related_post.get_snippet_description() }}
				</p>
			</a>
			<div class="blog-snippet blog-snippet-mobile blog-snippet-{{ loop.index }}">
				<div class="snippet-image" style="background-image: url('{{ related_post.get_snippet_image() }}');"></div>
				<h4 class="date">{{ related_post.published | format_date_long }}</h4>
				<h3>
					<a href="{{ url_for('main.view_blog_post', post_code=related_post.code) }}">
						{{ related_post.get_snippet_title() }}
					</a>
				</h3>
				<p class="description">
					{{ related_post.get_snippet_description() }}
				</p>
				<a href="{{ url_for('main.view_blog_post', post_code=related_post.code) }}" class="read-more">
					Read More
				</a>
			</div>
		{% endfor %}
	</div>
{% endblock content %}
