beautifulsoup4==4.7.1
certifi==2018.11.29
chardet==3.0.4
Click==7.0
easyforms==0.1.6
Flask==1.0.2
Flask-SQLAlchemy==2.3.2
flaskfilemanager==0.0.5
geoip2==2.9.0
gunicorn==19.9.0
idna==2.7
IPy==0.83
itsdangerous==1.1.0
Jinja2==2.10
littlefish==0.0.26
lxml==4.3.0
MarkupSafe==1.1.0
maxminddb==1.4.1
Pillow==5.4.1
psycopg2==2.7.6.1
PyMarkovChain==1.8
python-bcrypt==0.3.2
python-dateutil==2.7.5
pytz==2018.9
requests==2.21.0
six==1.12.0
soupsieve==1.7.1
SQLAlchemy==1.2.16
titlecase==0.12.0
Unidecode==1.0.23
urllib3==1.24.1
Werkzeug==0.14.1
