body {
	padding-top: 50px;
}

h1 {
	text-align: center;
	margin: 50px 0 40px;
}

h2 {
	margin: 40px 0 30px;
}

.not-too-big {
	max-width: 700px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

.info {
	font-style: italic;
	color: #888;
}

.red {
	color: #dd0000;
}

.green {
	color: #007700;
}

.space-before {
	margin-top: 15px;
}

.space-after {
	margin-bottom: 15px;
}

.big-space-before {
	margin-top: 35px;
}

.big-space-after {
	margin-bottom: 35px;
}

fieldset+fieldset {
	margin-top: 25px;
}

td {
	padding-right: 5px;
}

table.fields {
	clear: both;
	width: 100%;
}

table.fields > thead > tr > th,
table.fields > tbody > tr > td,
table.fields > tfoot > tr > td {
	padding: 6px 8px;
	line-height: 1.428571429;
	vertical-align: top;
	border-top: 1px solid #ddd;
	background: white;
}

table.fields > thead:first-child > tr:first-child > th,
table.fields > tbody:first-child > tr:first-child > td {
	border-top: 0;
}

table.fields.table-bordered > thead:first-child > tr:first-child > th {
	border-top: 1px solid #ddd;
}

table.fields > thead > tr > th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}

table.fields > thead > tr > th:first-child,
table.fields > tbody > tr > th:first-child,
table.fields > tfoot > tr > th:first-child,
table.fields > thead > tr > td:first-child,
table.fields > tbody > tr > td:first-child,
table.fields > tfoot > tr > td:first-child {
	background-color: #ececfd;
	border-right: 2px solid #4d7496;
	border-top: 1px solid #ccc;
	width: 25%;
}

table.fields > thead > tr > th:first-child {
	vertical-align: bottom;
	border-bottom: 2px solid #ccc;
}

table.fields.table-bordered > tbody > tr > td:first-child {
	border-bottom: 1px solid #ccc;
	border-left: 1px solid #ccc;
}

table.fields.table-bordered > thead:first-child > tr:first-child > th:first-child,
table.fields.table-bordered > tbody:first-child > tr:first-child > td:first-child {
	border-left: 1px solid #ccc;
	border-top: 1px solid #ccc;
}

table.fields > tbody > tr:hover > td {
	background-color: #ddddee !important;
}

ul.links, ul.list {
	padding-left: 0;
}

ul.links li, ul.list li {
	list-style: none;
	padding: 4px 0;
}

.main-card {
	max-width: 800px;
	margin: 50px auto 15px;
}

.card-header h1 {
	margin: 10px 0;
}

div.button-list {
	margin: 15px 0;
}

div.button-list > a.btn {
	display: inline-block;
	margin: 5px 2px;
}

.tagline {
	color: #666;
	font-size: 1.2em;
}

.preview img {
	display: inline-block;
	margin: 10px 0;
}

.preview figure {
	text-align: center;
    border: solid 1px #ccc;
    border-radius: 2px;
    background: rgba(0,0,0,0.05);
    padding: 10px;
    margin: 10px 20px;
    display: inline-block;
}

.preview figure > img {
	margin: 0;
}

.preview figure > figcaption {
	margin: 10px 0 0;
}

.blog-snippet {
	background-color: white;
	margin: 50px 8px 20px;
	display: inline-block;
	border: 1px solid #cccccc;
}

.blog-snippet-content {
	padding: 15px;
}

.blog-snippet .details {
	color: #666;
}

.blog-snippet .details .author {
	font-weight: bold;
}

tr.disabled td {
	color: #777;
	text-decoration: line-through;
}

.oi {
	position: relative;
	top: 2px;
}

.btn .oi {
	margin-right: 2px;
}

.btn-xs .oi {
	font-size: 10px;
	top: 0;
	margin: 0;
	display: inline-block;
	height: 9px;
}

.btn-group-xs > .btn, .btn-xs {
  padding  : .4rem;
  font-size  : .875rem;
  line-height  : .5;
  border-radius : .2rem;
}

.table-comments {
	width: 100%;
}

.table-comments td.timestamp {
	text-align: right;
}

.table-comments tr td {
	background-color: #ccffcc;
}

.table-comments tr.pending td {
	background-color: #eeeeee;
}

.table-comments tr.deleted td {
	background-color: #ffbbbb;
	color: #550000;
}

.table-comments tr.spacer td {
	background: white;
}
