{% extends 'easycms/base.html' %}

{% block easycms_title %}Delete Post{% endblock easycms_title %}

{% block easycms_head_extra %}
	<script>
		$(document).ready(function() {
			$('#submit-button').click(function(){
				return confirm("Are you sure you really want to delete this post?");
			});
		});
	</script>
{% endblock easycms_head_extra %}

{% block easycms_content %}
	<div class="front-page content">
		<div class="alert alert-warning">
			Really delete post <strong>{{ post.title }}</strong>?
			This is permanent and can't be undone.
		</div>

		<form action="" method="post">
			<input type="submit" class="btn btn-success" value="Delete" id="submit-button">
			<a href="{{ url_for('.edit_post', post_id=post.id) }}" class="btn btn-danger">Cancel</a>
		</form>
	</div>
{% endblock easycms_content %}
