{% extends 'easycms/base.html' %}

{% block easycms_title %}Edit SEO Details{% endblock easycms_title %}


{% block easycms_content %}
	<div class="button-list">
		<a class="btn btn-secondary" href="{{ url_for('.edit_post', post_id=post.id) }}">
			<span class="oi" data-glyph="arrow-left"></span> Back to Edit Blog Post
		</a>
		<a class="btn btn-secondary" href="{{ url_for('.view_post', post_id=post.id) }}">
			<span class="oi" data-glyph="arrow-left"></span> View Post
		</a>
	</div>

	{% if success %}
		<div class="alert alert-success">{{ success }}</div>
	{% else %}
		<p>
			Editing SEO details for post "<strong>{{ post.title }}</strong>".
		</p>
		<p>
			Use this page to edit the title tag, and the meta (description) tag.
		</p>
		<div class="not-too-big">
			{{ form.render() }}
		</div>
	{% endif %}
{% endblock easycms_content %}
