{% macro format_result(result) %}
	{% set val = ('%s' % result).lower() %}
	{% if val == 'yes' or val == 'true' %}
		<strong class="green">{{ result }}</strong>
	{% elif val == 'no' or val == 'false' %}
		<strong class="red">{{ result }}</strong>
	{% elif val == 'female' %}
		<span class="female">{{ result }}</span>
	{% elif val == 'male' %}
		<span class="male">{{ result }}</span>
	{% elif result == None %}
		<span class="info">(none)</span>
	{% else %}
		{{ result }}
	{% endif %}
{% endmacro %}


{% macro render_dict(dict) %}
	<table class="fields table-bordered">
		<tbody>
			{% for key in dict %}
				<tr>
					<td>{{ key }}</td>
					<td>
						{{ render_value(dict[key]) }}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endmacro %}


{% macro render_value(value) %}
	{% if value is none %}
		<span class="info">None</span>
	{% elif value is string %}
		{{ value }}
	{% elif value is mapping %}
		{{ render_dict(value) }}
	{% elif value is sequence %}
		{% for v in value %}
			{{ render_value(v) }}
			{% if not loop.last %}
				<hr>
			{% endif %}
		{% endfor %}
	{% else %}
		{{ format_result(value) }}
	{% endif %}
{% endmacro %}


{%- macro query_string_from_dict(args, overrides={}) -%}
	{% set vars = namespace(first=True) %}
	{%- for key, value in args.items() -%}
		{%- if vars.first -%}{%- set vars.first = False -%}{%- else -%}&{%- endif -%}{{ key | urlencode }}={{ overrides.get(key, value) | urlencode }}
	{%- endfor -%}
	{%- for key, value in overrides.items() -%}
		{%- if key not in args -%}
			{%- if vars.first -%}{%- set vars.first = False -%}{%- else -%}&{%- endif -%}{{ key | urlencode }}={{ overrides.get(key, value) | urlencode }}
		{%- endif -%}
	{%- endfor -%}
{%- endmacro -%}


{%- macro page_link(page, args) -%}
	?{{ query_string_from_dict(args, {'page': page}) }}
{%- endmacro -%}


{% macro pager(pager, prev_name='prev', next_name='next', preserve_args=True) %}
	{% set args = request.args if preserve_args else {} %}
	{% if not pager.empty %}
		<nav>
			<ul class="pagination justify-content-center">

				{% if pager.has_prev %}
					<li class="page-item">
						<a class="page-link" href="{{ page_link(pager.prev, args) }}">
							&larr;{{ prev_name }}
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="page-link">
							&larr;{{ prev_name }}
						</span>
					</li>
				{% endif %}

				{% for page in pager.page_link_numbers %}
					{% if pager.page_number == page %}
						<li class="page-item active">
							<span class="page-link" href="javascript: void(0)" style="cursor: default;">
								{{ page }}
							</span>
						</li>
					{% elif page < pager.page_number - 5 or page > pager.page_number + 5 %}
						<li class="page-item pager-hidden-md">
							<a class="page-link" href="{{ page_link(page, args) }}">{{ page }}</a>
						</li>
					{% else %}
						<li class="page-item">
							<a class="page-link" href="{{ page_link(page, args) }}">{{ page }}</a>
						</li>
					{% endif %}
				{% endfor %}

				{% if pager.has_next %}
					<li class="page-item">
						<a class="page-link" href="{{ page_link(pager.next, args) }}">
							{{ next_name }}&rarr;
						</a>
					</li>
				{% else %}
					<li class="page-item disabled">
						<span class="page-link">
							{{ next_name }}&rarr;
						</span>
					</li>
				{% endif %}

			</ul>
		</nav>
	{% endif %}
{% endmacro %}

