{% extends 'easycms/base.html' %}

{% block easycms_title %}Comments{% endblock easycms_title %}

{% block easycms_content %}
	<div class="button-list">
		<a class="btn btn-secondary" href="{{ url_for('.index') }}">
			<span class="oi" data-glyph="arrow-left"></span> Content Editor Home
		</a>
	</div>

	<p>
		{% if show_deleted %}
			<a href="{{ url_for('easycms_editor.view_comments', deleted=False, approved=show_approved, pending=show_pending) }}"
			   class="btn btn-secondary">
				Hide Deleted
			</a>
		{% else %}
			<a href="{{ url_for('easycms_editor.view_comments', deleted=True, approved=show_approved, pending=show_pending) }}"
			   class="btn btn-secondary">
				Show Deleted
			</a>
		{% endif %}

		{% if show_pending %}
			<a href="{{ url_for('easycms_editor.view_comments', deleted=show_deleted, approved=show_approved, pending=False) }}"
			   class="btn btn-secondary">
				Hide Pending
			</a>
		{% else %}
			<a href="{{ url_for('easycms_editor.view_comments', deleted=show_deleted, approved=show_approved, pending=True) }}"
			   class="btn btn-secondary">
				Show Pending
			</a>
		{% endif %}

		{% if show_approved %}
			<a href="{{ url_for('easycms_editor.view_comments', deleted=show_deleted, approved=False, pending=show_pending) }}"
			   class="btn btn-secondary">
				Hide Approved
			</a>
		{% else %}
			<a href="{{ url_for('easycms_editor.view_comments', deleted=show_deleted, approved=True, pending=show_pending) }}"
			   class="btn btn-secondary">
				Show Approved
			</a>
		{% endif %}
	</p>

	<table class="table table-comments">
		<tbody>
			{% for comment in pager.items %}
				<tr {% if comment.deleted %}class="deleted"{% elif not comment.approved %}class="pending"{% endif %} id="comment-{{ comment.id }}">
					<td>
						<strong>
							{% if comment.deleted %}
								Deleted
							{% elif comment.approved %}
								Approved
							{% else %}
								Pending
							{% endif %}
						</strong>
					</td>
					{% if comment.author %}
						<td><strong>{{ comment.author.name }}</strong></td>
					{% else %}
						<td>{{ comment.author_name }} &lt;{{ comment.author_email }}&gt;</td>
					{% endif %}
					<td class="timestamp">{{ comment.timestamp | format_datetime_long }}</td>
				</tr>
				<tr class="user-agent {% if comment.deleted %}deleted{% elif not comment.approved %}pending{% endif %}">
					<td colspan="3">
						{% if comment.author_user_agent %}
							{{ comment.author_user_agent }}
						{% else %}
							<span class="info">(none)</span>
						{% endif %}
					</td>
				</tr>
				<tr {% if comment.deleted %}class="deleted"{% elif not comment.approved %}class="pending"{% endif %}>
					<td colspan="3">
						<div>
							On
							<a href="{{ comment.post.front_end_url if settings.front_end_urls_enabled else comment.post.editor_url }}">
								<strong>{{ comment.post.title }}</strong>
							</a>
						</div>
						{{ comment.content | safe }}
						<div>
							<form action="#comment-{{ comment.id }}" method="post">
								<input type="hidden" name="comment" value="{{ comment.id }}">
								{% if comment.deleted %}
									<input type="submit" name="un-delete" value="Un-Delete" class="btn btn-secondary">
								{% else %}
									{% if comment.approved %}
										<input type="submit" name="un-approve" value="Un-Approve" class="btn btn-secondary">
									{% else %}
										<input type="submit" name="approve" value="Approve" class="btn btn-success">
									{% endif %}
									<a href="{{ url_for('easycms_editor.edit_comment', comment_id=comment.id) }}" class="btn btn-primary">Edit</a>
									<input type="submit" name="delete" value="Delete" class="btn btn-danger">
								{% endif %}
							</form>
						</div>
					</td>
				</tr>
				<tr class="spacer">
					<td colspan="4">
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	{{ macros.pager(pager) }}
{% endblock easycms_content %}
